<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>
    <br/><br/><br/><br/><br/>
    <h1>Data</h1>
    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/366026593/save}" th:object="${data}"
		    method="POST" novalidate="novalidate">
		    <input type="hidden" th:field="*{id}" />
		    <div class="form-group">
		        <label class="control-label col-sm-2 ">Tên:</label> 
		        <div class="col-sm-10">
		        <input type="text" class="form-control"
		            th:field="*{name}" th:errorclass="field-error" placeholder="Nhập tên game" /> 
		        <em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
		        <br/>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-sm-2 ">Hình ảnh</label> 
		        <div class="col-sm-10">
		        <input rows="4" class="form-control" th:field="*{about1}" placeholder="Nhập link hình ảnh" />
		        <br/>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-sm-2 ">AppStore</label> 
		        <div class="col-sm-10">
		        <input rows="4" class="form-control" th:field="*{about2}" placeholder="Nhập link AppStore" />
		        <br/>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-sm-2 ">CHPlay</label> 
		        <div class="col-sm-10">
		        <input rows="4" class="form-control" th:field="*{about3}" placeholder="Nhập link CHPlay" />
		        <br/>
		        </div>
		    </div>
		    <div class="form-group">
		        <label class="control-label col-sm-2 ">Video</label> 
		        <div class="col-sm-10">
		        <input rows="4" class="form-control" th:field="*{about4}" placeholder="Nhập link Video" />
		        <br/>
		        </div>
		    </div>
		    <a class="btn btn-default btn-lg" th:href="@{/366026593}">Quay Lại</a>
		    <button type="submit" class="btn btn-primary btn-lg">Lưu</button>
		</form>
        </div>
    </div><!-- /.container -->
<br/><br/>
    <footer th:replace="layout :: footer"></footer>
</body>
</html>
